body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgba(0, 0, 0, 0.788);
}

.searchbar{
    width: 40%;
    height: 3rem;
    margin: 0 0 0 auto;
}

.searchbutton{
    height: 3rem;
}

.right{
    margin-left: auto;
}

#main_player{
    margin-top: 50px;
    margin-bottom:50px ;
    margin-left: 50px;
}

.meta_data{
    display: flex;
    align-items: center;
}
.meta_data p{
    padding-left: 3px;
}

.c_icons{
    margin-left: 20px;
}

#views{
    margin-bottom: 10px;
}

.user{
    display: flex;
    align-items: center;
    width: 50%;
}

#avatar{
    border-radius: 50px;
}

#action{
    margin-left: auto;
}

#info {
display: flex;
flex-direction: column;
justify-content: center;
}

#info *{
    margin: 0;
}



