body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgba(0, 0, 0, 0.788);
}

.searchbar{
    width: 40%;
    height: 3rem;
    margin: 0 0 0 auto;
}

.searchbutton{
    height: 3rem;
}

.right{
    margin-left: auto;
}